<div class="container" style="text-align: center;" id="contenedor-ameni-principal">
    <h3 style="position: relative; right: 32%;">AMENIDADES</h3>
    <span style="color: red; position: relative; right: 18.5%; bottom: 20px;">_____________________________________<span style="color: black;">_____________________________________</span></span>
    <div class="container" class="mt-5">
        <div class="row">
            <div class="col-md-6"   >
                <img src="../../../assets/img/Vector 4.png" style="width: 40px;" alt="">
                <h5>
                   {{listapadre[0]}}
                </h5>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/Vector 4.png" style="width: 40px;" alt="">
                <h5>
                    {{listapadre[1]}}
                </h5>
            </div>
        </div>
    </div>
    <div class="container" class="mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/img/Vector 4.png" style="width: 40px;" alt="">
                <h5>
                    {{listapadre[2]}}
                </h5>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/Vector 4.png" style="width: 40px;" alt="">
                <h5>
                    {{listapadre[3]}}
                </h5>
            </div>
        </div>
    </div>
    <div class="container" class="mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/img/Vector 4.png" style="width: 40px;" alt="">
                <h5>
                    {{listapadre[4]}}
                </h5>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/Vector 4.png" style="width: 40px;" alt="">
                <h5>
                    {{listapadre[5]}}
                </h5>
            </div>
        </div>
    </div>
    <div class="container" class="mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/img/Vector 4.png" style="width: 40px;" alt="">
                <h5>
                    {{listapadre[6]}}
                </h5>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/Vector 4.png" style="width: 40px;" alt="">
                <h5>
                    {{listapadre[7]}}
                </h5>
            </div>
        </div>
    </div>
    <div class="container" class="mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/img/Vector 4.png" style="width: 40px;" alt="">
                <h5>
                    {{listapadre[6]}}
                </h5>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/Vector 4.png" style="width: 40px;" alt="">
                <h5>
                    {{listapadre[7]}}
                </h5>
            </div>
        </div>
    </div>
    <div class="container" class="mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/img/Vector 4.png" style="width: 40px;" alt="">
                <h5>
                    {{listapadre[8]}}
                </h5>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/img/Vector 4.png" style="width: 40px;" alt="">
                <h5>
                    {{listapadre[9]}}
                </h5>
            </div>
        </div>
    </div>
</div>

<br><br>