
<header>

    <ul class="nav justify-content-end animate__animated animate__bounce" id="nav-menu" >
        <input type="text" pInputText id="search-menu">
        <span><button id="button-04"></button></span>
        <button pButton type="button" label="MXN-" id="color-button-3"></button>
        <button pButton type="button" label="ESP-" id="color-button-3"></button><span><img src="../../../assets/img/México.png" alt=""></span>
        <button pButton type="button" label="Regístrate" id="color-button-2"></button>
        <button pButton type="button" label="Iniciar Sesión" id="color-button"></button>
      </ul>

</header>



