
<br>
<div class="container  animate__animated animate__bounce" style="text-align: center;" >
    <div class="row">
        <div class="col-md-8">
           
            <img src="../../../assets/img/linea01.PNG" alt="">
                <h3>Restaurante Sylvestre Polanco   <span style="color: red;">-10% en el menú <img src="../../../assets/img/Vector 2.png" alt=""></span></h3> 
            <img src="../../../assets/img/linea01.PNG" alt="">
          
            <app-calendar></app-calendar>

            <!--CALENDAR-->

        </div>
        <div class="col-md-4  animate__animated animate__bounce" style="position: relative; top: 20px;">
            <h5 style="position: relative; right: 15%;">¿CÓMO LLEGAR?</h5>
            <strong><hr style="color: red; width: 70px; position: relative; left: 16%;"></strong>
            <div id="borde-div-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.577096611337!2d-99.2002062852645!3d19.430670086885467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d202027c5493f5%3A0x8fe7da5173b1e637!2sAnatole%20France%2074%2C%20Polanco%2C%20Polanco%20III%20Secc%2C%20Miguel%20Hidalgo%2C%2011550%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1639614315004!5m2!1ses-419!2smx" width="88%" height="350px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <h5 class="mt-3" style="position: relative; right: 90px;">VER MENÚ</h5>
            <span style="color: red; position: relative; right: 70px; bottom: 20px;">____________________</span>
            <h5 class="mt-3" style="position: relative; right: 90px;">HORARIOS</h5>
            <span style="color: red; position: relative; right: 70px; bottom: 20px;">____________________</span>

            <div id="general">

                <div style="position: relative; right: 20px;" class="mt-2">
                    <img src="../../../assets/img/clock.png" id="img-horarios" alt=""><span>Lunes 13:00-23:00</span>
                </div>
                <div style="position: relative; right: 17px;" class="mt-2">
                    <img src="../../../assets/img/clock.png" id="img-horarios" alt=""><span>Martes  13:00-23:00</span>
                </div>
                <div style="position: relative; right: 9px;" class="mt-2">
                    <img src="../../../assets/img/clock.png" id="img-horarios" alt=""><span>Miercoles 13:00-23:00</span>
                </div>
                <div style="position: relative; right: 15px;" class="mt-2">
                    <img src="../../../assets/img/clock.png" id="img-horarios" alt=""><span>Viernes 13:00-23:00</span>
                </div>
                <div style="position: relative; right: 15px;" class="mt-2">
                    <img src="../../../assets/img/clock.png" id="img-horarios" alt=""><span>Sabado  13:00-23:00</span>
                </div>
                    
            </div>
          
            
        </div>
    </div>
</div>

<br>

<app-tabs></app-tabs>

<br>

<app-amenidades></app-amenidades>