<div class="container" style="text-align: center; background-color: gray;" id="tabs">
    <p-tabView>
        <p-tabPanel header="Descripción" style="background-color: gray;">
           <p style="text-align: justify; ">Restaurante Sylvestre Polanco,  ideal para comidas de negocios o salir con tus amigos un viernes en la noche y acabar tu velada tomando unos drinks.

            Ubicado en, Anatole France 74, Polanco, Polanco III Secc, 11550 Ciudad de México, CDMX.
            
            </p>
            <p class="mt-5" style="text-align: justify; ">
                En el centro de Polanquito, dentro de una casona estilo colonial se encuentra Sylvestre Asador Mexicano.

                El restaurante se divide en dos niveles, en el primer piso a la entrada se encuentra el bar y una biblioteca para fumadores, en la parte superior, el restaurante con una gran terraza que ofrece una vista espectacular al jardín secreto

                El concepto gastronómico es un encuentro entre 2 cocinas que se complementan con lo más apetecible en un mismo menú, una Cocina Mexicana Regional con platillos típicos como Sopecitos del Comal con chicharrón prensado; Chalupas de Plátano Macho y la cocina Tradicional Argentina con su Chorizos Argentinos; Empanadas, los Cortes Clásicos como Asados Churrascos; Bife de Chorizo; Lomo de Res; Kobe Wagyu Americano y Chimichurris haciendo mucho más amplia la opción de una buena comida combinando sabores muy definidos.

                La fama del restaurante no sólo se debe a lo gastronómico sino a la historia que inspiró la creación del concepto. Y es que nadie imaginaría que el nombre del local hace referencia a la novela ganadora del Nobel “El Crimen de Sylveste Bonnard” del escritor Anatole France. 
            </p>
        </p-tabPanel>
        <p-tabPanel header="Menú">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../../assets/img/carousel1.jpg" class="card-img-top" id="img-card" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">COMIDA 1</h5>
                          <p class="card-text">De lo más delicioso!.</p>
                          <a href="#" class="btn btn-primary">Clic para cotizar</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../../assets/img/carousel2.png" class="card-img-top" id="img-card" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">COMIDA 2</h5>
                          <p class="card-text">De lo más delicioso!.</p>
                          <a href="#" class="btn btn-primary">Clic para cotizar</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="card" style="width: 18rem;">
                      <img src="../../../assets/img/carousel3.png" class="card-img-top" id="img-card" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">COMIDA 3</h5>
                          <p class="card-text">De lo más delicioso!.</p>
                          <a href="#" class="btn btn-primary">Clic para cotizar</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="card" style="width: 18rem;">
                      <img src="../../../assets/img/carousel4.png" class="card-img-top" id="img-card" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">COMIDA 4</h5>
                          <p class="card-text">De lo más delicioso!.</p>
                          <a href="#" class="btn btn-primary">Clic para cotizar</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="card" style="width: 18rem;">
                      <img src="../../../assets/img/carousel5.png" class="card-img-top" id="img-card" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">COMIDA 5</h5>
                          <p class="card-text">De lo más delicioso!.</p>
                          <a href="#" class="btn btn-primary">Clic para cotizar</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="card" style="width: 18rem;">
                      <img src="../../../assets/img/carousel6.png" class="card-img-top" id="img-card" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">COMIDA 6</h5>
                          <p class="card-text">De lo más delicioso!.</p>
                          <a href="#" class="btn btn-primary">Clic para cotizar</a>
                        </div>
                      </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
 