<div class="container mt-1" style="text-align: center;">
    <h3 style="position: relative; right: 32%;">OPINIONES</h3>
    <span style="color: red; position: relative; right: 17%; bottom: 20px;">_____________________________________<span style="color: black;">_____________________________________</span></span>
</div>
<div class="container" style="text-align: center;">
    <img src="../../../assets/img/5.png" alt="">
</div>
<div class="container mt-1" style="text-align: center;">
    <img src="../../../assets/img/Star 3.png" alt="">
    <img src="../../../assets/img/Star 3.png" alt="">
    <img src="../../../assets/img/Star 3.png" alt="">
    <img src="../../../assets/img/Star 3.png" alt="">
    <img src="../../../assets/img/Star 3.png" alt="">
</div>
<div class="container mt-1" style="text-align: center;">
    <img src="../../../assets/../assets/img/opinion-star.PNG" alt="">
</div>
