<div class="container-fluid mt-5  animate__animated animate__bounce">
  


    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="../../../../assets/img/carousel1.png" id="img-carousel" alt=""></ng-template>  
        <ng-template carouselSlide><img src="../../../../assets/img/carousel2.png" id="img-carousel" alt=""></ng-template>  
        <ng-template carouselSlide><img src="../../../../assets/img/carousel3.png" id="img-carousel" alt=""></ng-template>
        <ng-template carouselSlide><img src="../../../../assets/img/carousel4.png" id="img-carousel" alt=""></ng-template> 
        <ng-template carouselSlide><img src="../../../../assets/img/carousel5.png" id="img-carousel" alt=""></ng-template>   
    </owl-carousel-o>
 

</div>
